<<<<<<< HEAD:app/views/layouts/_tabs.html.erb
<% if logged_in? -%>
<<<<<<< HEAD:app/views/layouts/_tabs.html.erb
<div id="tabs">
  <ul class="collapsed menu">
    <li class="first"><%= link_to 'Home', home_url %></li>
	<li><%= link_to 'My List', gifts_url %></li>
    <li><%= link_to "Other's Lists", exchanges_url %></li>
  </ul>
</div>
<% end -%>
=======
=======
<% if signed_in? -%>
>>>>>>> 37c5df8951ba46bed92e5ffff62bfafb639001fa:app/views/layouts/_tabs.html.erb
	<div id="menu">
	 <ul id="nav">
	  <li class='activelink'><%= link_to 'Wishlist', gifts_url %></li>
	  <!-- <li><a href="#">Shopping list</a></li> -->
	  <li><%= link_to "Exchanges", exchanges_url %></li>
	 </ul>
	</div>
<% end -%>


>>>>>>> eafb42575aacec49cc674dc05094a8a7f30ec221:app/views/layouts/_tabs.html.erb
